@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860 ty
*@
@{
    ViewData["Title"] = "My Podcast";
}

<h2>
    Baconsale Podcast
</h2>

<p>Have a listen:</p>
<a href="https://baconsale.com/">Baconsale</a>
